---
interface Props {
	pageTitle?: string;
	nameWebSite?: string;
	pageDescription?: string;
}

//Props para automatizar un poquito más.
const { pageTitle, nameWebSite = 'TeachMathX', pageDescription } = Astro.props;

// Año dinámico para el footer.
const CurrentDate = new Date();
let year = CurrentDate.getFullYear();

import '../css/style.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={pageDescription} />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle} | {nameWebSite}</title>
	</head>
	<body>
		<slot />

		<main class="container">
			<slot name="main" />
		</main>

		<footer class="footer">
			<p>
				Copyright &copy; {year} | Todos los Derechos Reservdados - {
					nameWebSite
				}
			</p>
		</footer>

		<script
			type="text/javascript"
			async
			src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"
		></script>
		<script>

			const header = document.querySelector('.header');
			const menu = document.querySelector('.nav');
			const showMenu = document.querySelector('.open');
			const container = document.querySelector('.container');
			const footer = document.querySelector('.footer');

		
			showMenu.addEventListener('click', () =>{
				menu.classList.toggle('active')
				showMenu.classList.toggle('active')
				container.classList.toggle('active')
				header.classList.toggle('active')
				footer.classList.toggle('active')
			})
		
		</script>
	</body>
</html>
