---
interface Props {
	img1?: string;
	img2?: string;
	img3?: string;
	iframe1?: any;
	iframe2?: any;
	iframe3?: any;
	title1?: string;
	title2?: string;
	title3?: string;
	titleSeccion?: string;
	descripcion1?: string;
	descripcion2?: string;
	descripcion3?: string;
	descripcionSeccion?: string;
}

const {
	img1,
	img2,
	img3,
	iframe1,
	iframe2,
	iframe3,
	title1,
	title2,
	title3,
	titleSeccion,
	descripcion1,
	descripcion2,
	descripcion3,
	descripcionSeccion,
} = Astro.props;
---

<style>
	:root {
		--pad: clamp(1rem, 4vw, 4rem);
	}

	section h2 {
		letter-spacing: -1px;
		text-shadow: 0 0 6px #fffa;
		text-transform: uppercase;
		color: #fff;
		margin-block: 1.5rem 1rem;
		font-size: 1.625rem;
		font-weight: 700;
	}

	.wrapper {
		padding: 1rem var(--pad);
		flex-wrap: wrap;
		justify-content: center;
		gap: 1rem;
		width: 80%;
		max-width: 80vw;
		margin: auto;
		display: flex;
	}

	.column {
		flex-direction: column;
		align-items: center;
	}

	section .list {
		flex-wrap: row;
		gap: 1em;
		display: inline-flex;
	}

	.list {
		justify-content: center;
	}

	section .list img {
		object-view-box: inset(0%);
		object-fit: cover;
		border: 6px solid #fff;
		width: 320px;
		max-width: 100%;
		transition: all 0.5s;
	}

	section .list img:hover {
		object-view-box: inset(10%);
		border-color: indigo;
		cursor: pointer;
	}

	.modal {
		display: none;
		position: fixed;
		z-index: 999;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0, 0, 0, 0.7);
	}

	.modal-content {
		margin: 15% auto;
		padding: 20px;
		max-width: 60vw;
		background-color: #fefefe;
	}

	.close {
		color: #aaa;
		float: right;
		font-size: 28px;
		font-weight: bold;
	}

	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}

	.video-container {
		display: flex;
		justify-content: space-between;
	}

	.video-container iframe {
		width: 560px;
		height: 315px;
	}

	.description {
		flex: 1;
		padding-left: 20px;
	}

	.description h2 {
		font-size: 1.25rem;
		margin-bottom: 10px;
		color: #000;
		text-align: center;
	}

	.description p {
		text-wrap: balance;
		font-size: 1rem;
		color: #000;
		font-weight: 700;
		text-align: center;
		padding: 1rem;
	}
</style>

<section class="bg">
	<div class="wrapper column">
		<h2>{titleSeccion}</h2>
		<p>
			{descripcionSeccion}
		</p>

		<div class="list">
			<div class="video">
				<div class="contenido-video">
					<div class="iframe-video">
						<img
							id="openModalBtn"
							src={img1}
							alt="¡Carga MÁS RÁPIDO tu sitio web OPTIMIZANDO TIPOGRAFÍAS!"
						/>
						<div id="myModal" class="modal">
							<div class="modal-content">
								<span id="closeModalBtn" class="close"
									>&times;</span
								>
								<div class="video-container">
									<iframe
										width="560"
										height="315"
										src={iframe1}
										title="¡Carga MÁS RÁPIDO tu sitio web OPTIMIZANDO TIPOGRAFÍAS!"
										frameborder="0"
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
										allowfullscreen></iframe>

									<div class="description">
										<h2>{title1}</h2>
										<p>
											{descripcion1}
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="list">
				<div class="video">
					<div class="contenido-video">
						<div class="iframe-video">
							<img
								id="openModalBtn2"
								src={img2}
								alt="¡Carga MÁS RÁPIDO tu sitio web OPTIMIZANDO TIPOGRAFÍAS!"
							/>
							<div id="myModal2" class="modal">
								<div class="modal-content">
									<span id="closeModalBtn2" class="close"
										>&times;</span
									>
									<div class="video-container">
										<iframe
											width="560"
											height="315"
											src={iframe2}
											title="¡Carga MÁS RÁPIDO tu sitio web OPTIMIZANDO TIPOGRAFÍAS!"
											frameborder="0"
											allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
											allowfullscreen></iframe>

										<div class="description">
											<h2>{title2}</h2>
											<p>
												{descripcion2}
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="list">
					<div class="video">
						<div class="contenido-video">
							<div class="iframe-video">
								<img
									id="openModalBtn3"
									src={img3}
									alt="¡Carga MÁS RÁPIDO tu sitio web OPTIMIZANDO TIPOGRAFÍAS!"
								/>
								<div id="myModal3" class="modal">
									<div class="modal-content">
										<span id="closeModalBtn3" class="close"
											>&times;</span
										>
										<div class="video-container">
											<iframe
												width="560"
												height="315"
												src={iframe3}
												title="¡Carga MÁS RÁPIDO tu sitio web OPTIMIZANDO TIPOGRAFÍAS!"
												frameborder="0"
												allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
												allowfullscreen></iframe>

											<div class="description">
												<h2>{title3}</h2>
												<p>
													{descripcion3}
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<script>
				// Obtener referencias a elementos del DOM
				const img = document.getElementById('openModalBtn');
				const modal = document.getElementById('myModal');
				const span = document.getElementById('closeModalBtn');
				const img2 = document.getElementById('openModalBtn2');
				const modal2 = document.getElementById('myModal2');
				const span2 = document.getElementById('closeModalBtn2');
				const img3 = document.getElementById('openModalBtn3');
				const modal3 = document.getElementById('myModal3');
				const span3 = document.getElementById('closeModalBtn3');

				// Eventos para abrir los modales al hacer clic en las imágenes
				img.onclick = function () {
					modal.style.display = 'block';
				};

				img2.onclick = function () {
					modal2.style.display = 'block';
				};

				img3.onclick = function () {
					modal3.style.display = 'block';
				};

				// Eventos para cerrar los modales al hacer clic en la "X"
				span.onclick = function () {
					modal.style.display = 'none';
				};

				span2.onclick = function () {
					modal2.style.display = 'none';
				};

				span3.onclick = function () {
					modal3.style.display = 'none';
				};

				// Eventos para cerrar los modales si se hace clic fuera de ellos
				window.onclick = function (event) {
					if (event.target == modal) {
						modal.style.display = 'none';
					} else if (event.target == modal2) {
						modal2.style.display = 'none';
					} else if (event.target == modal3) {
						modal3.style.display = 'none';
					}
				};
			</script>
		</div>
	</div>
</section>
